<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>
  <body>
    <h1>Legendary Countdown</h1>
    <form id="countdown">
      <div>
        Players:
        <select id="player-count">
          <% player_counts.each do |count| %>
            <option><%= count %></option>
          <% end %>
        </select>
      </div>

      <div>
        Scheme:
        <select id="schemes">
          <% schemes.each do |scheme| %>
            <option><%= scheme %></option>
          <% end %>
        </select>
      </div>

      <div>
        Mastermind:
        <select id="mastermind">
          <% masterminds.each do |mastermind| %>
            <option><%= mastermind %></option>
          <% end %>
        </select>
      </div>

      <div>
        Villain Group 1:
        <select id="villains1">
          <option>N/A</option>
          <% villain_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Villain Group 2:
        <select id="villains2">
          <option>N/A</option>
          <% villain_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Villain Group 3:
        <select id="villains3">
          <option>N/A</option>
          <% villain_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Villain Group 4:
        <select id="villains4">
          <option>N/A</option>
          <% villain_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Villain Group 5:
        <select id="villains5">
          <option>N/A</option>
          <% villain_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Henchmen Group 1:
        <select id="henchmen1">
          <option>N/A</option>
          <% henchmen_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Henchmen Group 2:
        <select id="henchmen2">
          <option>N/A</option>
          <% henchmen_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <div>
        Henchmen Group 3:
        <select id="henchmen3">
          <option>N/A</option>
          <% henchmen_groups.each do |group| %>
            <option><%= group %></option>
          <% end %>
        </select>
      </div>

      <input type="submit" id="submitButton"  name="submitButton" value="Submit">
    </form>

    <div class="result" style="display: none">
      <div id="villain-deck-contents">
        Villain Deck Contents: <span class="value"></span>
      </div>
      <div id="villain-deck-turns">
        The Villain Deck will empty in <span class="min"></span>-<span class="max"></span> turns
      </div>
      <div id="maximum-winning-turn">
        Maximum Winning Turn: <span class="value"></span>
      </div>
      <div id="notes">
        Additional Notes: <span class="value"></span>
      </div>
    </div>

    <script type="text/javascript" id="submit-script">
      <%= submit %>
    </script>
  </body>
</html>
